<div class="container">
<%- model_class = Tag -%>


<h1 class="font-weight-bold title text-center "><%= @tag.name %></h1>

<div class="content-cards">
    <% @tag.articles.each do |article| %>
      <%= link_to article_path(article) do %>
      <div class="card bg-dark text-white" id = "ArtigosPublicado">
      <%= image_tag article.photo.url(:medium), id: "ImagemArtigoPublicado" %>
      <div class="card-img-overlay" id ="ArticleOverlay">
          <h5 class="card-title"> <%= article.title %> </h5>
          <p class="card-text"><%= article.description%></p>
        </div>
        
      </div>
      <% end %>
      
      <% end %>
  </div>
 

      
      





</div>