<div class = "container">
  <h2>Forgot your password?</h2>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email, 'Email Address', class: 'sr-only' %>
      <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email Address' %>
    </div>

    <div class="actions">
      <%= f.button "Send me reset password instructions", class: 'btn btn-lg btn-primary btn-block' %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>