<% #Navbar %> 
  <nav class="navbar navbar-expand-lg navbar-light bg-light " id = "NavBar">

    <div class="collapse navbar-collapse" id="navbarSupprtedContent">
    <% if !user_signed_in? %>
    <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Log In
      </a>
      
      <div class="dropdown-menu">
        <form class="px-4 py-3">
          <%= link_to 'Log in', new_user_session_path, class: "dropdown-item"%>
          <%= link_to 'Sign up', new_user_registration_path, class: "dropdown-item"%>
          </form>
            <% else %>
            <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%=current_user.name %>
          </a>
          
          <div class="dropdown-menu">
            <form class="px-4 py-3">
              <%= link_to 'Profile', perfil_index_path, class: "dropdown-item" %>
              <%= link_to 'New article', new_article_path, class: "dropdown-item" %>
              <%= link_to 'Logout' , destroy_user_session_path, method: :delete, class: "dropdown-item" %>
              </form>
              
          </div>
          <% end %>


        </li>
      </ul>

      <%= link_to 'Nuntium', root_path, class: "navbar-brand ml-auto font-weight-bold"%>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <form class="form-inline my-2 my-lg-0 col-4 ml-auto justify-content-center">
        <input class="form-control mr-sm-2 flex-fill" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit">Search</button>
      </form>

    </div>
  </nav>
  <% #Fim Navbar %>